<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebCrawler.Properties.Settings>
            <setting name="StartURL" serializeAs="String">
                <value>http://www.doogal.co.uk/links.php</value>
            </setting>
            <setting name="UpdateSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PreferDifferentDomains" serializeAs="String">
                <value>True</value>
            </setting>
        </WebCrawler.Properties.Settings>
    </userSettings>
</configuration>